<input type="text" class="form-control mt10" ng-model="filterValue" placeholder="让选择更简单..."/>
<table class="table table-bordered table-hover mt10">
    <thead>
        <tr>
            <th>
                <input ng-model="checkedAll" type="checkbox" ng-change="toggleAll()" />
            </th>
            <th ng-repeat="head in filterHead">{{head.displayName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list">
            <td>
                <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" ng-change="toggleItem(item)" />
            </td>
            <td ng-repeat="head in filterHead">
                {{item[head.propertyName]}}
            </td>
        </tr>
        <tr class="text-center">
            <td colspan="{{filterHead.length + 1}}" ng-if="!list || list.length == 0">抱歉没有相关数据</td>
        </tr>
    </tbody>
</table>
